<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Autos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Gestión Vehicular</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/listaAutos}">Autos</a>
                    <a class="nav-link" th:href="@{/listaSeguros}">Seguros</a>
                    <a class="nav-link" th:href="@{/listaSedes}">Sedes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h1>Autos</h1>
    <a th:href="@{/formAuto}" class="btn btn-secondary mb-3">Crear auto</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Kilometraje</th>
            <th>Sede direccion</th>
            <th>Costo por dia</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="auto : ${listaAutos}">
            <td th:text="${auto.id}"></td>
            <td th:text="${auto.modelo}"></td>
            <td th:text="${auto.color}"></td>
            <td th:text="${auto.kilometraje}"></td>
            <td th:text="${auto.sede.direccion}"></td>
            <td th:text="${auto.costoPorDia}"></td>

            <td>

                <a th:href="@{/editarAuto/{id}(id=${auto.id})}" class="btn btn-sm">Editar</a>
                <a th:href="@{/borrarAuto/{id}(id=${auto.id})}" class="btn btn-danger btn-sm">Borrar</a>

            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>